p{
    color:#7D6608;
    font-family: cursive;
    font-family: 'Montserrat', sans-serif;
    text-align: center;

}
h1{
    font-size:50px;
    color: #484f4f;
    font-family: 'Montserrat', sans-serif;
    text-align: center;

}
body{
    background-color:#e3e0cc;
    font-family: 'Montserrat', sans-serif;

}
h2{
    font-size: 20px;
    color:#546E7A;
    font-family: 'Montserrat', sans-serif;
    text-align: center;

}
h3{
    font-size: 30px;
    color:#546E7A;
    font-family: 'Montserrat', sans-serif;
    text-align: center;

}